.mainBody {
  padding: 0 5rem 0 5rem;
}
.searchBox {
  align-items: center;
}

.titleBox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  /* background-image: url(static/img/beer_background.jpg); */
}

.mainTitle {
  padding-left: 2rem;
  min-width: 500px;
}

.headerBox {
  float: right;
  padding: auto;
  margin: 0;
}

.beerCard {
  height: 460px;
}

.beerImage {
  height: 300px;
}

.beerImg {
  object-fit: contain;
}

.search-section {
  background-color: #eeeeee;
  padding: 30px 20px;
}

.SearchAbv {
}

.abv-title {
  font-size: large;
  width: 150px;
  height: 30px;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: bold;
  background-color: #d8d8d8;
  border-radius: 2px;
  padding: 3px 5px;
  text-align: center;
}

.abv-all-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.abv-checkbox {
  width: 150px;
  height: 25px;
  font-size: 18px;
}

.beer-title {
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
}

.beer-title-abv {
  color: tomato;
}
