.mainBody {
  padding: 0 5rem 0 5rem;
}
.searchBox {
  align-items: center;
}

.titleBox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  /* background-image: url(static/img/beer_background.jpg); */
}

.mainTitle {
  padding-left: 2rem;
  min-width: 500px;
}

.headerBox {
  float: right;
  padding: auto;
  margin: 0;
}

.beerCard {
  height: 460px;
}

.beerImage {
  height: 300px;
}

.beerImg {
  object-fit: contain;
}
#abv-box {
  padding: 20px;
}

#abv-checkbox {
  float: right;
  /* white-space : nowrap; */
  font-size: x-large;
}

#abv-title {
  font-size: large;
  float : left;
}
