.mainTitle {
  padding-left: 2rem;
  min-width: 500px;
}
.mainBody {
  padding: 0 5rem 0 5rem;
}
.beerInfo {
  padding: 20px;
}
.titleBox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
}

.commentsBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  /* flex-wrap: wrap; */
}

.myCommentsBox {
  border: solid 0.5px;
  margin: 1rem;
  padding: 1rem;
  border-radius: 20px;
  width: 90%;
  /* max-width: 380px; */
  box-sizing: border-box;
  float: left;
  background-color: #ccffcc;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.otherCommentsBox {
  border: solid 0.5px;
  box-sizing: border-box;
  margin: 1rem;
  padding: 1rem;
  border-radius: 20px;
  width: 90%;
  /* max-width: 380px; */
  float: right;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.beerImg {
  object-fit: contain;
}
