.mainTitle {
  padding-left: 2rem;
  min-width: 500px;
}
.mainBody {
  padding: 0 5rem 0 5rem;
}
.titleBox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
}

.myCommentsBox {
  border: solid 1px;
  margin: 1rem;
  padding: 1rem;
  border-radius: 20px;
  flex-basis: 40%;
}

.otherCommentsBox {
  border: solid 1px;
  margin: 1rem;
  padding: 1rem;
  border-radius: 20px;
  flex-basis: 40%;
}

.beerInfo {
  padding: 20px;
}

.commentsBox {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
