{% extends 'base.html' %} {% block content%}
<div>
  <section class="hero">
    <div class="hero-body beerInfo">
      <div class="container has-text-centered">
        <div class="columns is-vcentered">
          <div class="column is-5">
            <figure class="image is-4by3">
              <img src="{{ beer['image'] }}" alt="맥주사진" />
            </figure>
          </div>
          <div class="column is-6 is-offset-1">
            <h1 class="title">제품명 : {{beer['name']}}</h1>
            <br />
            <h2 class="subtitle is-4">abv : {{beer['abv']}}</h2>
            <h2 class="subtitle is-4">원산지 : {{beer['country']}}</h2>
            <h2 class="subtitle is-4">제조사 : {{beer['manufacturer']}}</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<div>
  <article class="media">
    <div class="media-content">
      <div class="field">
        <p>별점 구간</p>
        <p class="control">
          <textarea
            class="textarea"
            placeholder="한줄평을 입력해 주세요"
          ></textarea>
        </p>
      </div>
      <nav class="level">
        <div class="level-left">
          <div class="level-item">
            <a class="button is-info">추가</a>
          </div>
        </div>
      </nav>
    </div>
  </article>
</div>
<div class="commentsBox">
  <div class="myCommentsBox">
    <article class="media">
      <div class="media-content">
        <div class="content">
          <p>
            <strong>김아무개</strong> <label>별점 구간</label>
            <br />
            너무 쓰다 먹고 죽을뻔
          </p>
        </div>
      </div>
    </article>
  </div>
  <div class="otherCommentsBox">
    <article class="media">
      <div class="media-content">
        <div class="content">
          <p>
            <strong>김아무개</strong> <label>별점 구간</label>
            <br />
            너무 쓰다 먹고 죽을뻔
          </p>
        </div>
      </div>
    </article>
  </div>
</div>

{% endblock %}
