{% extends 'base.html'%} {% block content%}

<div class="box detail-wrap">
  <section class="hero">
    <div class="hero-body beerInfo">
      <div class="container has-text-centered">
        <div class="columns is-vcentered">
          <div class="column is-5">
            <figure class="image is-4by3" class="beerImg">
              <img class="beerImg" src="{{ beer['image'] }}" alt="맥주사진" />
            </figure>
          </div>
          <div class="column is-6 is-offset-1">
            <h1 id="beerName" class="title" data-id="{{ beer['_id'] }}">
              {{beer['name']}}
            </h1>
            <br />
            <h2 class="subtitle is-4 detail-beer-abv">
              (abv) {{beer['abv']}} %
            </h2>
            <h2 class="subtitle is-4 detail-beer-country">
              {{beer['country']}} 산
            </h2>
            <h2 class="subtitle is-4 detail-beer-manufacturer">
              by {{beer['manufacturer']}}
            </h2>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% if username %}
<div id="commentUser" data-id="{{ username }}">
  <div class="addComment">
    <article class="media">
      <div class="media-content">
        <div class="field">
          <div class="star-rating">
            <input type="radio" id="5-stars" name="rating" value="5" />
            <label for="5-stars" class="star">&#9733;</label>
            <input type="radio" id="4-stars" name="rating" value="4" />
            <label for="4-stars" class="star">&#9733;</label>
            <input type="radio" id="3-stars" name="rating" value="3" />
            <label for="3-stars" class="star">&#9733;</label>
            <input type="radio" id="2-stars" name="rating" value="2" />
            <label for="2-stars" class="star">&#9733;</label>
            <input type="radio" id="1-star" name="rating" value="1" />
            <label for="1-star" class="star">&#9733;</label>
          </div>
          <p class="control">
            <textarea
              id="review-comment"
              name="comment"
              class="textarea commentArea"
              placeholder="한줄평을 입력해 주세요"
            ></textarea>
          </p>
        </div>
        <nav class="level">
          <div class="level-left">
            <div class="level-item">
              <button
                class="button is-success"
                type="submit"
                onclick="addReview()"
                data-id="{{ username['_id'] }}"
              >
                추가
              </button>
            </div>
          </div>
        </nav>
      </div>
    </article>
  </div>
</div>
{% else %} {% endif %}
<div class="commentsBox">
  {% for review in reviews %} {% if review['username'] == username %}
  <div class="myCommentsBox">
    <article class="media">
      <div class="media-content">
        <!-- <button
          class="deleteBtn button is-success"
          type="submit"
          onclick='deleteReview("{{ username[\`_id \`] }}")''
        >
          삭제
        </button> -->
        <div class="content">
          <p>
            <strong>{{review['username']}}</strong>
            <label
              >{% for i in range(review['score']) %}
              <i class="fas fa-star"></i>{% endfor %}</label
            >
            <br />
            {{ review['comment'] }}
          </p>
        </div>
      </div>
    </article>
  </div>
  {% else %}
  <div class="otherCommentsBox">
    <article class="media">
      <div class="media-content">
        <div class="content">
          <p>
            <strong>{{ review['username']}}</strong>

            <label
              >{% for i in range(review['score']) %}
              <i class="fas fa-star"></i>{% endfor %}</label
            >
            <br />
            {{ review['comment']}}
          </p>
        </div>
      </div>
    </article>
  </div>
  {% endif %} {% endfor %}
</div>

{% endblock %}
