{% extends 'base.html' %} {% block content%}
<section>
  <div class="SearchAbv">
    <label>알콜 도수</label>
    <div>
      <div class="AbvCheckbox">
        <input
          class="AbvCheckbox__input"
          type="checkbox"
          id="search-abv-1"
          name="search-abv-1"
        />
        <label class="AbvCheckbox__label" for="scales">0.0% ~ 2.9%</label>
      </div>
      <div class="AbvCheckbox">
        <input
          class="AbvCheckbox__input"
          type="checkbox"
          id="search-abv-2"
          name="search-abv-2"
        />
        <label class="AbvCheckbox__label" for="scales">2.0% ~ 3.9%</label>
      </div>
      <div class="AbvCheckbox">
        <input
          class="AbvCheckbox__input"
          type="checkbox"
          id="search-abv-3"
          name="search-abv-3"
        />
        <label class="AbvCheckbox__label" for="scales">4.0% ~ 5.9%</label>
      </div>
      <div class="AbvCheckbox">
        <input
          class="AbvCheckbox__input"
          type="checkbox"
          id="search-abv-4"
          name="search-abv-4"
        />
        <label class="AbvCheckbox__label" for="scales">6.0% ~ 7.9%</label>
      </div>
      <div class="AbvCheckbox">
        <input
          class="AbvCheckbox__input"
          type="checkbox"
          id="search-abv-5"
          name="search-abv-5"
        />
        <label class="AbvCheckbox__label" for="scales">8.0% ~ </label>
      </div>
    </div>
  </div>
</section>
<div id="beerFilter" class="field is-grouped">
  <p class="control is-expanded">
    <input
      class="input"
      type="text"
      placeholder="맥주명을 입력해 주세요"
      id="searchInput"
    />
  </p>
  <p class="control">
    <a class="button is-info filter">검색</a>
  </p>
</div>
<div id="app" class="row columns is-multiline">
  {% for beer in beersList %}
  <div class="column is-3">
    <div class="card large beerCard">
      <div class="card-image">
        <figure class="image is-16by9 beerImage">
          <a href="/beer/{{ beer['_id']}}">
            <img
              src="{{ beer['image'] }}"
              alt="맥주 이미지 "
              data-id="{{ beer['_id']}}"
            />
          </a>
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4 no-padding">{{ beer['name'] }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
